customtkinter>=5.2.2
pdfplumber>=0.11.4
pytesseract>=0.3.13
Pillow>=10.4.0
pdf2image>=1.17.0
openai>=1.54.0
matplotlib>=3.9.0
arabic-reshaper>=3.0.0
python-bidi>=0.4.2
reportlab>=5.0.0
g4f>=7.7.0
requests>=2.32.0
curl_cffi>=0.7.0
nest_asyncio>=1.6.0
